// Webfont CDN
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css)

body *
  font-family: 'Spoqa Han Sans', 'Sans-serif'

.container
  max-width: 1540px

section#main-slider
  width: 100vw
  height: 100vh  
  background: #323240 url('/images/main-slider-bg.jpg') no-repeat center center fixed
  -webkit-background-size: cover
  -moz-background-size: cover
  -o-background-size: cover
  background-size: cover
