// Webfont CDN
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css)

body
  background-color: #ffffff
  color: #444444
  letter-spacing: -0.05rem
  font-weight: 200
  *
    font-family: 'Spoqa Han Sans', 'Sans-serif'
    box-sizing: border-box    
body a
  transition: all .3s
  cursor: pointer

h2
  font-size: 2.2rem
  font-weight: 600
  margin-bottom: 3rem
h3
  font-size: 1.6rem
  margin-bottom: 1rem
p
  font-size: 1.1rem

.content-container
  margin: 0 auto
  padding: 0 1rem

#top
  padding: 37px 0
  .logo
    margin-right: 1.5rem
    img
      width: 90px
    &:hover
      filter: brightness(120%)
  a.nav
    font-size: 1.1rem
    color: white    
    text-decoration: none
    padding: 0 .1rem
    margin: 0 1.4rem
    &:last-child      
      margin-right: 0
    &.active
      position: relative
      top: 1px
      border-bottom: 1px solid white
    &:hover
      color: lighten(#58a9fe, 15%)
      border-color: lighten(#58a9fe, 15%)

a.short-cut
  font-weight: 400
  color: black
  text-decoration: none
  + a.short-cut
    padding-left: 2.5rem 
  img
    margin-left: .5rem
    position: relative
    top: -0.1rem
  &:hover
    filter: brightness(120%)

.display-description
  padding: 8rem 0
  .title
    font-size: 1.2rem
    letter-spacing: .1rem
    font-weight: 600
    padding: 1rem 0
    border-right: 2px solid #444444
  .content
    padding: 1rem 2.5rem
    font-weight: 200
    font-size: 1.2rem
  &.light
    .title, .content, a.short-cut
      color: white
    .title
      border-color: white

.tab-menu
  text-align: center
  border-bottom: 1px solid #efefef
  a
    display: inline-block
    color: #444444
    font-size: 1.2rem
    padding: 2rem 1rem
    margin: 0 2rem
    text-decoration: none
    &.active
      border-bottom: 2px solid #353c56
    &:hover
      color: #58a9fe
      border-color: #58a9fe

.bg-light
  background-color: #f3f4f8 !important

.btn
  padding: 1rem 2rem
  &.btn-primary
    background-color: #58a9fe
    border-color: #58a9fe
    border-radius: .2rem
    &:hover
      background-color: darken(#58a9fe, 7%)
      border-color: darken(#58a9fe, 7%)

.text-thin
  font-weight: 100

// HOME
#main-slider
  width: 100vw
  height: 100vh  
  background: #323240 url('/images/main-slider-bg.jpg') no-repeat center center fixed
  -webkit-background-size: cover
  -moz-background-size: cover
  -o-background-size: cover
  background-size: cover  
  .title
    margin-top: 25vh
    font-size: 4.5rem
    font-weight: 600    
    color: #76b9ff    
    hr
      border-color: #76b9ff
      margin-top: 0
      margin-bottom: 0
      &.bold
        border-top: 3px solid #76b9ff
    img      
      height: 60px
      position: relative
      top: -0.5rem
    .lead
      margin-top: 1rem

#catch-praise
  font-size: 2.8rem
  font-weight: 300
  padding-left: 2.5rem
  margin-top: 1rem

#diagram
  position: relative
  margin-top: 4rem
  background: url('/images/line.gif') center center repeat-x

#reviews
  margin-top: 8rem
  font-size: 1.2rem
  font-weight: 200
  img
    width: 59px
  .media
    margin-bottom: 2.2rem

#partners
  margin: 4rem 0 6rem 0

#magazine
  width: 100vw
  height: 910px
  background: #323240 url('/images/section-bg-01.jpg') no-repeat center center fixed
  -webkit-background-size: cover
  -moz-background-size: cover
  -o-background-size: cover
  background-size: cover  
  .magazine-slider
    position: relative
    a.carousel-control-prev, a.carousel-control-next      
      width: 75px
      top: -860px
      left: auto
      right: 2rem
      img
        width: 75px
    a.carousel-control-prev
      right: calc(2rem + 75px)
    ol.carousel-indicators
      bottom: -3rem
    a.a-magazine
      img        
        width: 230px
        transition: all .3s
      .caption
        text-align: center
        padding: 1rem 0
        color: white
        font-weight: 300
        letter-spacing: 0
      &:hover          
        img          
          box-shadow: 0 1rem 2rem rgba(0,0,0,0.4)
          filter: brightness(120%)
    .empty
      width: 230px
#numbers
  padding: 7rem 0
  background-color: #76b9ff  
  *
    color: white
  .title
    font-size: 3rem
    margin-bottom: 5rem
  .items
    .item
      height: 10rem
      .display
        display: inline-block
        text-align: center
        img
          width: 68px
          margin-bottom: .7rem
        .the-number
          font-size: 3rem
          font-weight: 600
          line-height: 3rem
      .desc
        display: inline-block
        font-size: 1.2rem
        padding-left: .5rem

.store-btns    
  margin-top: 2rem
  a + a
    margin-left: .7rem
  img
    width: 224px
    transition: all .3s
  a:hover img
    filter: brightness(110%)

footer
  padding: 1.5rem 0
  background-color: #f3f4f8
  a
    color: black
    margin: 0 1rem
  a.social-icon
    img
      width: 16px
    &:hover
      filter: brightness(70%)
  span
    margin: 0 1rem

// 서비스 페이지
#service-top
  background-color: #353c56
  .wrapper
    padding: 5rem 0 7rem 0
    .catch-praise
      color: white
      font-size: 2.8rem
      margin-top: 3rem
#service-hotel-pms
  padding: 6rem 0 6rem 0
#service-hotel-bp
  padding: 6rem 0 2rem 0
#service-hotel-cms
  padding: 6rem 0 2rem 0
#service-hotel-gds
  padding: 6rem 0 6rem 0




//------------------------- Responsive Media Setting ---------------------------//

// Small devices (landscape phones, 500px and up)
@media (min-width: 500px)
  section#main-slider

// Medium devices (768px and up)
@media (min-width: 768px)  
  .content-container
    width: 90vh

// Large devices (desktops, 1200px and up)
@media (min-width: 1200px)
  .content-container
    width: 1300px

// Extra large devices (large desktops, 1700px and up)
@media (min-width: 2000px)
  .content-container
    width: 1540px