footer
  .content-container
    .d-flex.flex-wrap.align-items-center
      a(href='https://onda.me/terms-of-service') 서비스이용약관
      a(href='https://onda.me/privacy') 개인정보보호방침
      span © T PORT INC
      span 서울특별시 강남구 테헤란로 114길 38 (대치동, 동일타워) 13층
      span 대표전화 070-7015-9782
      a.social-icon.ml-auto(href='http://blog.onda.me/', target='_blank')
        img(src='/images/s-blog.png')
      a.social-icon(href='https://www.facebook.com/www.onda.me/', target='_blank')
        img(src='/images/s-fb.png')