include header.pug

body(name='member')
  section(id='sub-top')
    .content-container
      include top.pug
  section(id='member-top')
    .content-container
      .row
        .sub-title.col-lg-3
          | 우리는
          br
          | 진짜
          br
          | 수평적인
          br
          | 회사입니다
        .col-lg-9

  section(id='member-people')
    .content-container
      .row
        .sub-title.col-lg-2
          | 만드는 사람들
        .col-lg-10
          .row
            .person.col-xl-3.col-lg-4
              img.img-fluid.picture(src='/images/temp07.jpg')
              .d-flex
                .position R&amp;D_hacker/dj
                button.btn.btn-sm.btn-primary.ml-auto(type='button', data-toggle='modal', data-target='#interviewModal') 인터뷰 보기
              .name KDOG 김태웅
              .comment 실력이 부족하면 아부라도 잘하자 라는 간절함으로
            .person.col-xl-3.col-lg-4
              img.img-fluid.picture(src='/images/temp08.jpg')
              .d-flex
                .position Management_Manager
                button.btn.btn-sm.btn-primary.ml-auto(type='button', data-toggle='modal', data-target='#interviewModal') 인터뷰 보기
              .name Jeremy 원두관
              .comment 어찌되었든 내일은 옵니다. 힘들었던 순간도 언젠가는 지나가는 법!
            .person.col-xl-3.col-lg-4
              img.img-fluid.picture(src='/images/temp07.jpg')
              .d-flex
                .position R&amp;D_Team Leader
              .name Jade 원경묵
              .comment 분당에서 귀염둥이 고양이와 함께 살고 있습니다.
            .person.col-xl-3.col-lg-4
              img.img-fluid.picture(src='/images/temp08.jpg')
              .d-flex
                .position B&amp;M_Team Leader
                button.btn.btn-sm.btn-primary.ml-auto(type='button', data-toggle='modal', data-target='#interviewModal') 인터뷰 보기
              .name Jiho 김지호
              .comment Think Sexy.
            .person.col-xl-3.col-lg-4
              img.img-fluid.picture(src='/images/temp09.jpg')
              .d-flex
                .position Management_Manager
                button.btn.btn-sm.btn-primary.ml-auto(type='button', data-toggle='modal', data-target='#interviewModal') 인터뷰 보기
              .name Claire 임승아
              .comment Have Courage and Be Kind
            .person.col-xl-3.col-lg-4
              img.img-fluid.picture(src='/images/temp10.jpg')
              .d-flex
                .position Sales_Manager
                button.btn.btn-sm.btn-primary.ml-auto(type='button', data-toggle='modal', data-target='#interviewModal') 인터뷰 보기
              .name Sunny 방혜선
              .comment 재정난
            .person.col-xl-3.col-lg-4
              img.img-fluid.picture(src='/images/temp09.jpg')
              .d-flex
                .position Sales_Manager
                button.btn.btn-sm.btn-primary.ml-auto(type='button', data-toggle='modal', data-target='#interviewModal') 인터뷰 보기
              .name Alvin 김태경
              .comment 현재 70% , 미래 29% 과거 1% 그래서 100% 인생을 살고 싶습니다.
            .person.col-xl-3.col-lg-4
              img.img-fluid.picture(src='/images/temp09.jpg')
              .d-flex
                .position CS_Manager
                button.btn.btn-sm.btn-primary.ml-auto(type='button', data-toggle='modal', data-target='#interviewModal') 인터뷰 보기
              .name William 이찬민
              .comment 저도 하나의 인격체입니다.
          
          .view-more
            a(href='#')
              | 모두 보기
              img.pl-3(src='/images/arrow-down.svg')
  section(id='welfare')
    .content-container
      .row
        .sub-title.col-lg-2
          | 복지
        .col-lg-10
          .row
            .item.col-lg-3.col-sm-6
              img(src='/images/welfare-01.svg')
              .title 연차
              .desc 
                | 입사하신 모든 분들께 
                br
                | 15일의 연차를 드려요.
            .item.col-lg-3.col-sm-6
              img(src='/images/welfare-02.svg')
              .title 반차데이
              .desc 
                | 연차 외에도 매월
                br
                | 반차휴가를 드려요.
            .item.col-lg-3.col-sm-6
              img(src='/images/welfare-03.svg')
              .title 생일휴가
              .desc 
                | 생일에는 회사일은 잠시 잊고
                br
                | 가족, 친구, 연인과 함께하세요.
            .item.col-lg-3.col-sm-6
              img(src='/images/welfare-04.svg')
              .title 여행장려휴가
              .desc 
                | 1년동안 함꼐해 주셔서 감사합니다.
                br
                | 여행 한 번 다녀오세요~
            .item.col-lg-3.col-sm-6
              img(src='/images/welfare-05.svg')
              .title 리모트 근무
              .desc 
                | 집중이 필요할 때는 집이나 카페 등
                br
                | 원하는 공간에서 근무하세요.
            .item.col-lg-3.col-sm-6
              img(src='/images/welfare-06.svg')
              .title 맥 지원
              .desc 
                | 업무에 필요한 장비를 지원해드려요                
            .item.col-lg-3.col-sm-6
              img(src='/images/welfare-07.svg')
              .title 도서지원
              .desc 
                | 책은 성장의 원천!
                br
                | 업무에 도움이 되는 책은 마음껏 구매하세요.
            .item.col-lg-3.col-sm-6
              img(src='/images/welfare-08.svg')
              .title 경조사 지원
              .desc 
                | 축/조의금과 축하물품을 지원해 드려요.
            .item.col-lg-3.col-sm-6
              img(src='/images/welfare-09.svg')
              .title 건강검진
              .desc 
                | 아프지마요.
                br
                | 정기적으로 건강검진을 시행해요.
            .item.col-lg-3.col-sm-6
              img(src='/images/welfare-10.svg')
              .title 4대보험
              .desc 
                | 4대보험은 기본이죠.
            .item.col-lg-3.col-sm-6
              img(src='/images/welfare-11.svg')
              .title 인재추천 포상
              .desc 
                | 좋은 인재가 있다면 추천해 주세요.
                br
                | 추천인에게 포상금을 드립니다.
            .item.col-lg-3.col-sm-6
              img(src='/images/welfare-12.svg')
              .title 힐링메이트
              .desc 
                | 마음이 괴로울때 찾아오세요.
                br
                | 고민을 털어놓을 수 있는 동료들이 있어요.
  section(id='recruit')
    .content-container
      .row
        .sub-title.col-lg-2
          | 채용
        .col-lg-10
          #recruitAccordion(data-children='.item')
            .item
              a.title.d-flex(data-toggle='collapse', data-parent='#recruitAccordion', href='#recruitAccordion1', aria-expanded='true', aria-controls='recruitAccordion1')
                span 프론트엔드 개발자 상시채용
                img.icon-black.ml-auto.pt-1(src='/images/arrow-down.svg')
              #recruitAccordion1.collapse.show(role='tabpanel')
                pre.
                  기술
                  AWS 인프라 기반, Node.js, TypeScript, Angular, MySQL, GraphQL, REDIS, git 등

                  자격요건
                  angular.js와 graphql을 이용한 서비스 개발, 운영
                  테스트 코드 작성 및 패키지 배포 관리
                  UI/UX 설계 프로세스 주도적 참여
                  git 사용 경험자
                  웹 표준,웹 접근성에 대한 이해

                  우대사항
                  HTML5 기반의 반응형 웹, 모바일플랫폼 개발경험
                  오픈소스 javascript library 사용 경험
                  TypeScript 개발 경험
                  react.js, angular.js 등을 사용하여 애플리케이션 경험이 있으신 분
                  MVC 등 패턴에 대한 경험이 있으신 분

                  기타
                  - 300만원+a의 개발 장비 지원 (MacBook Pro Retina 및 와이드 모니터 등)
                  - 리모트 근무
                  - 사내 개발 세미나
                  - DevDay 진행                  
            .item
              a.title.d-flex(data-toggle='collapse', data-parent='#recruitAccordion', href='#recruitAccordion2', aria-expanded='false', aria-controls='recruitAccordion2')
                span 백엔드 개발자 수시모집
                img.icon-black.ml-auto.pt-1(src='/images/arrow-down.svg')
              #recruitAccordion2.collapse(role='tabpanel')
                pre.
                  기술
                  AWS 인프라 기반, Node.js, TypeScript, Angular, MySQL, GraphQL, REDIS, git 등

                  자격요건
                  angular.js와 graphql을 이용한 서비스 개발, 운영
                  테스트 코드 작성 및 패키지 배포 관리
                  UI/UX 설계 프로세스 주도적 참여
                  git 사용 경험자
                  웹 표준,웹 접근성에 대한 이해

                  우대사항
                  HTML5 기반의 반응형 웹, 모바일플랫폼 개발경험
                  오픈소스 javascript library 사용 경험
                  TypeScript 개발 경험
                  react.js, angular.js 등을 사용하여 애플리케이션 경험이 있으신 분
                  MVC 등 패턴에 대한 경험이 있으신 분

                  기타
                  - 300만원+a의 개발 장비 지원 (MacBook Pro Retina 및 와이드 모니터 등)
                  - 리모트 근무
                  - 사내 개발 세미나
                  - DevDay 진행
            .item
              a.title.d-flex(data-toggle='collapse', data-parent='#recruitAccordion', href='#recruitAccordion3', aria-expanded='false', aria-controls='recruitAccordion3')
                span 숙박 영업 (신입.경력)
                img.icon-black.ml-auto.pt-1(src='/images/arrow-down.svg')
              #recruitAccordion3.collapse(role='tabpanel')
                pre.
                  기술
                  AWS 인프라 기반, Node.js, TypeScript, Angular, MySQL, GraphQL, REDIS, git 등

                  자격요건
                  angular.js와 graphql을 이용한 서비스 개발, 운영
                  테스트 코드 작성 및 패키지 배포 관리
                  UI/UX 설계 프로세스 주도적 참여
                  git 사용 경험자
                  웹 표준,웹 접근성에 대한 이해

                  우대사항
                  HTML5 기반의 반응형 웹, 모바일플랫폼 개발경험
                  오픈소스 javascript library 사용 경험
                  TypeScript 개발 경험
                  react.js, angular.js 등을 사용하여 애플리케이션 경험이 있으신 분
                  MVC 등 패턴에 대한 경험이 있으신 분

                  기타
                  - 300만원+a의 개발 장비 지원 (MacBook Pro Retina 및 와이드 모니터 등)
                  - 리모트 근무
                  - 사내 개발 세미나
                  - DevDay 진행

  //-- 인터뷰 모달
  #interviewModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='interviewModalLabel', aria-hidden='true')
    .modal-dialog.modal-lg(role='document')
      .modal-content
        .modal-header          
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true')
              img(src='/images/close.svg')
        .modal-body.interview
          .row
            .left.col-lg-3
              .position B&amp;M_Marketer
              .greeting 
                | Hello
                br
                | Jessica        
            .content.col-lg-9
              h3 Q 안녕하세요. 자기소개 부탁드려요
              p 안녕하세요. T Port(기업명) 브랜딩&amp;마케팅팀의 장윤정(Jessica)입니다. 전공은 건축설계이지만 젊을 때 여러 분야에서 다양한 경험을 해보고 싶은 마음이 컸기에 공기업에서 인턴도 해보고 해외 게스트하우스 체인에서 마케터로도 일하다 우연한 기회로 Tport팀에 합류하게 되었습니다.
              br
              h3 Q 팀 내에서는 어떤 일을 주로 맡고 계신가요?
              p.
                주로 하는 업무는 ZARI 블로그 및 SNS를 통해 숙소 운영에 필요한 정보공유, 프로모션 진행 그리고 
                ZARI 서비스 소식을 파트너 분들께 전해드리고 있습니다. 그리고 지금 읽고 계시는 ‘매거진 자리’의 기획과 
                디자인도 함께 병행하고 있습니다. 매거진의 경우 작년 연말 회의 중 우연히 이야기가 나와 빠르게 기획 후 
                2017년 1월부터 발행하기 시작했습니다. 디자이너가 따로 없다보니 야매 디자이너인 제가 
                나름의 디자인 기획(?)후 망하지 않고 지금까지 꾸준히 나오고 있는데요. 새로운 디자인 툴에 어느정도 적응이 
                되면서 디자인이 나날이 발전하는 것 같아서 뿌듯함과 동시에 자부심을 가지고 작업을 하고 있습니다.
                아직도 갈길이 멀다고 생각은 합니다. 그래도 뿐만 아니라 숙박업에 계시는 많은 분들께서 ‘매거진자리’를 
                사랑해주시고 관심을 가져주셔서 더 책임감을 가지고 좋은 컨텐츠를 제공해드리기 위해서 
                저희 팀은 최선을 다하겠습니다!

  include footer.pug
