include header.pug

body(name='service', page='b2b')
  section(id='service-b2b-top')
    .content-container
      include top.pug
      .wrapper.row.no-gutters
        .col-lg-5.offset-lg-1
          .catch-praise
            | 숙박업 중개업자를 위한
            br
            | B2B 플랫폼           
          a.btn.btn-lg.btn-primary.mt-4.py-3.px-5(href='#', target='_blank')
            img.mr-2(src='/images/icon-note.svg')
            | 제휴문의
            
        .col-lg-6
          img.img-fluid(src='/images/mockup-b2b.png')
            
  section(class='tab-menu')
    a.hotel(href='/service/hotel') 호텔,게스트하우스 예약관리 프로그램
    a.pension(href='/service/pension') 펜션예약관리 프로그램
    a.b2b(href='/service/b2b') B2B 플랫폼

  section(id='white-label')
    .content-container
      .row
        .col-lg-5
          img.img-fluid(src='/images/service09.png')
        .col-lg-7
          h2.pt-5.mt-4.mb-4 화이트라벨 플랫폼
          p 티포트는 숙소 예약관리 프로그램 전문 개발업체로 당사가 개발한 프로그램(PMS)을 귀사의 이름으로 서비스할 수 있도록 화이트 라벨링 서비스를 제공하고 있습니다. 이제는 최고의 객실 예약관리 프로그램(PMS)에 맡기고 상품 판매에 집중하세요.
  section.bg-light(id='extranet')
    .content-container
      .row
        .col-lg-7
          h2.pt-5.mt-4.mb-4  엑스트라넷 플랫폼
          p 숙소 판매를 위한 B2C 플랫폼은 보유하고 있지만, 상품관리를 위한 시스템이 불편하지는 않으신가요? '글로벌 OTA 표준'에 맞추어 제작된 온다 엑스트라넷은 실시간 요금 및 재고를 관리할 수 있습니다. 귀사의 사이트에 호텔상품관리에 최적화 된 온다 엑스트라넷을 연동해보세요.
        .col-lg-5
          img.img-fluid(src='/images/service10.png')

include footer.pug



