#top
  .d-flex.align-items-center
    a.logo(href ='/')
      img(src='/images/logo.png')
    a.nav(href='#') 파트너센터
    a.nav(href='https://app.onda.me/login') 로그인
    a.nav.service.ml-auto(href='/service') 서비스
    a.nav.magazine(href='/magazine/') 매거진
    a.nav.member(href='/member') 멤버/채용
    a.nav(href='#') 제휴